// Layout
//
// Styles for managing the structural hierarchy of the site.

.container {
  max-width: calc(var(--content-width) - (var(--spacing-unit) * 2));
  padding-left: var(--spacing-unit);
  padding-right: var(--spacing-unit);
  margin-left:  auto;
  margin-right: auto;
}

footer {
  margin-top: var(--spacer-3);
  margin-bottom: var(--spacer-3);
  border-top: 1px solid var(--border-light);
  padding-top: var(--spacer-2);
}
